:root {
    --primary: #00bfff;
    --low: #ffc400;
    --medium: #fa8865;
    --urgent: #ff0000;
    --light: #EEE;
    --grey: #888888;
    --dark: #313154;
    --danger: #ff5b57;

    --shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

    --low-glow: 0px 0px 4px rgba(229, 255, 0, 0.75);
    --medium-glow: 0px 0px 4px rgba(255, 93, 72, 0.75);
    --urgent-glow:0px 0px 4px rgb(128, 0, 0, 0.75);

}

* {
    margin: 12;
    padding: 15;
    box-sizing: border-box;
    font-family: 'montserrat', sans-serif;
}

input:not([type="radio"]):not([type="checkbox"]), button {
    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: initial;
}

body {
    background: rgb(0,139,140);
    background: linear-gradient(0deg, rgba(0,139,140,1) 0%, rgba(155,211,221,1) 100%);
}

section {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

h3 {
    color: var(--dark);
    font-size: 1.80rem;
    font-weight: 760;
    margin-bottom: 0.5rem;
}

h4 {
    color: var(--grey);
    font-size: 1.875rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.greeting.title {
    display: flex;
}

.greeting.title input {
    margin-left: 0.5rem;
    flex: 1 1 0%;
    min-width: 0;
}

.greeting.title,
.greeting.title input {
    color: var(--dark);
    font-size: 1.5rem;
    font-weight: 700;
}

.create-todo input[type="text"] {
    display: block;
    width: 100%;
    font-size: 1.125rem;
    padding: 1rem 1.5rem;
    color: var(--dark);
    background-color: #ffffff;
    border-radius: 0.5rem;
    box-shadow: var(--shadow);
    margin-bottom: 1.5rem;
}

.create-todo .level {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    margin-bottom: 1.5rem;
}

.create-todo .level label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    padding: 1.5rem;
    box-shadow: var(--sahdow);
    border-radius: 0.5rem;
    cursor: pointer;
}

input[type="radio"]{
    width: 12px;
    height: 12px;
    padding: 1;
    margin: 0;
    vertical-align: bottom;
    position: relative;
    top: 16px;
}

input[type="checkbox"] {
    width: 12px;
    height: 12px;
    border-radius:3rem;
    padding: 1;
    margin: 0;
    vertical-align: bottom;
    position: relative;
    top: 15px;
    left: 4px;
}

.bubble {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 999px;
    border: 2px solid var(--low);
    box-shadow: var(--low-glow);
}

.bubble.low {
    border-color: var(--low);
    box-shadow: var(--low-glow);
}

.bubble.medium {
    border-color: var(--medium);
    box-shadow: var(--medium-glow);
}

.bubble.urgent {
    border-color: var(--urgent);
    box-shadow: var(--urgent-glow);
}

.bubble::after {
    content: '';
    display: block;
    opacity: 0;
    width: 0px;
    height: 0px;
    background-color: var(--low);
    box-shadow: var(--low-glow);
    border-radius: 999px;
    transition: 0.2s ease-in-out;
}

.bubble.low::after {
    background-color: var(--low);
    box-shadow: var(--low-glow);
}

input::checked ~ .bubble::after {
    width: 10px;
    height: 10px;
    opacity: 1;
}

.create-todo .level label div {
    color: var(--dark);
    font-size: 1.125rem;
    margin-top: 1rem;
}

.create-todo input[type="submit"] {
    display: block;
    width: 100%;
    font-size: 1.125rem;
    padding: 1rem 1.5rem;
    color: #ffffff;
    font-weight: 700;
    background-color: #48bf91;
    box-shadow: var(--low-glow);
    border-radius: 0.5rem;
    cursor: pointer;
    transition: 0.2 ease-in-out;
}

.create-todo input[type="submit"]:hover {
    opacity: 0.75;
}

.todo-list .list {
    margin: 1rem 0;
}

.todo-list .todo-item {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: var(--shadow);
    margin-bottom: 1rem;
}

.todo-item label {
    display: block;
    margin-right: 1rem;
    cursor: pointer;
}

.todo-item .todo-content {
    flex: 1 1 0%;
}

.todo-item .todo-content input {
    color: var(--dark);
    font-size: 1.125rem;
}

.todo-item .action {
    display: flex;
    align-items: center;
}

.todo-item .action button {
    display: block;
    padding: 0.5rem;
    border-radius: 0.25rem;
    color: #ffffff;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.todo-item .actions button:hover {
    opacity: 1;
}

.todo-item .actions .edit {
    margin-right: 0.5rem;
    background-color: var(--primary);
}

.todo-item .actions .delete {
    background-color: var(--danger);
}

.todo-item.done .todo-content input {
    text-decoration: line-through;
    color: #888888;
}

.todo-list input#search {
    background-color: rgb(206, 202, 202);
    width:180px;
    height: 30px;
    border-radius: 3rem;
    margin-right: 0px;
    margin-left: 1100px;
}